---
export function getStaticPaths() {
    return [{ params: { author: "amirali", blog: "my-first-blog" } }];
}
---

<h1>Hello</h1>

<!-- 
current step: fix the netlify demo version of the website.
step 2: whenever a blog post is added, we have to add the name of its author and its title as properties of the params object 
        on this page
        then the blog post component will fire up, which will display the actual blog on this page.
        now I just have to go back, make sure the blog list page ([author]) looks pretty, set up a few more components and finalize the blog system
-->
