<section class="bg-lightDark text-light p-3">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="contact-form-wrapper">
        <h2 class="fs-5">Book a free consulation</h2>
        <p class="text-light" style="max-width: 420px;">
          Not sure what your next step with English should be? Let’s chat—no
          pressure, just a real conversation.
        </p>
      </div>
      <form
        action="https://formspree.io/f/mbjverqb"
        method="POST"
        class="newsletter-form-size"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="Enter Email"
            required
          />
          <button class="btn btn-dark btn-lg" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
