<section class="p-5">
  <div class="container">
    <h2 class="text-center fw-bold pb-4">
      The Three Pillars of Human Language:
    </h2>
    <div class="row text-center g-4 fs-5 mt-2">
      <div class="col-md">
        <div class="card text-primary border border-primary">
          <div class="card-body text-center" style="min-height: 427px;">
            <div class="h1 mb-3">
              <i class="bi bi-hourglass-split"></i>
            </div>
            <h3 class="card-title mb-3">Mythology</h3>
            <p class="lead">Why we speak in stories</p>
            <p class="card-text">
              From the gods of ancient Greece to creation tales around the
              globe, mythology reveals how we first used mythic narratives to
              explain our world and invented words to give those stories life.
            </p>
            <a href="" class="btn btn-primary mt-4">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-lightDark text-light">
          <div class="card-body text-center" style="min-height: 427px;">
            <div class="h1 mb-3">
              <i class="bi bi-journal-bookmark"></i>
            </div>
            <h3 class="card-title mb-3">Literature</h3>
            <p class="lead">How we shape and share ideas</p>
            <p class="card-text">
              Whether epic poetry, philosophical treatises or the latest novel,
              literature is the living archive of human thought. It refines our
              vocabulary, stretches our imagination, and passes culture down
              through the ages.
            </p>
            <a href="" class="btn btn-dark mt-4">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card text-primary border border-primary">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-translate"></i>
            </div>
            <h3 class="card-title mb-3">Linguistics</h3>
            <p class="lead">What makes language tick</p>
            <p class="card-text">
              Across time and technology, Linguistics reveals the hidden
              machinery of language, the scientific study of sounds, structures,
              and meaning that lets us reverse-engineer how words work to learn,
              teach, and innovate.
            </p>
            <a href="" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
