---
import hero from "../../assets/home/hero.svg"
---

<section class="bg-primary text-light pt-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="hero-text pb-5">
        <h1 class="pb-2">
          Take some time to enjoy <span class="text-warning">
            the wonders of language
          </span> with me
        </h1>
        <p class="lead my-4 fs-4">
          Whether you’re a learner or a fellow language lover, I invite you into
          a world where English feels expressive, joyful, and deeply human
        </p>
        <div>
          <!-- This is connected to the blog page for now -->
          <a href="/" class="btn btn-warning btn-lg mb-5">
            Visit the linguist's lab
          </a>
        </div>
      </div>
      <img src={hero.src} alt="" class="img-fluid" />
    </div>
  </div>
</section>
