---
import abstractTree from "../../assets/home/abstract-tree.svg"
---

<section id="learn" class="p-1 my-3">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5 responsive-paragraph">
        <h2>Build Your Living Vocabulary</h2>
        <p class="lead">Don't just memorize words; make them truly yours.</p>
        <p class="fs-5">
          The best time to learn a word is the moment you meet it, and feel that
          spark of frustration because you need to know what it means. That
          moment is your anchor. If it’s a word you’ll see again, it belongs in
          your vocabulary notebook. Make it a habit. Make it personal. That’s
          how real vocabulary sticks.
        </p>
        <a href="/lessons/lesson-2" class="btn btn-primary mt-3">
          <i class="bi bi-chevron-right"></i> Read More
        </a>
      </div>
      <div class="col-md">
        <img src={abstractTree.src} class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
