---
import "../../assets/styles/main.css";
import mainLogo from "../../assets/bottom-page-logo.png";
import { femaleInstructor, bookLover } from "../../assets/instructors-pics";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
---

<!-- TODO: I'm gonna have to use an instructor layout page with components for this one --><!-- TODO: I need to use props to change the navbar content ("what you'll learn & questions are not active outside of homepage) --><!-- TODO: navbar needs to be made responsive outside of homepage -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../assets/js_favicon.svg" />
    <title>Joyful Speaking Hub</title>
  </head>
  <body>
    <Navbar />
    <section
      class="bg-primary text-light pt-7 pt-lg-6 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1 class="text-warning">Sareh Ranjbar</h1>
            <p class="fs-2 my-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. natus
              commodi
            </p>
          </div>
          <div class="mb-3">
            <img
              class="img-fluid d-none d-sm-block"
              style="width: 70%;"
              src={femaleInstructor}
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="bg-lightDark text-light p-5">
      <div class="container">
        <div class="text-center">
          <h3 class="mb-3 mb-md-0">
            Experience language learning in a whole new way
          </h3>
        </div>
      </div>
    </section>
    <section class="p-5 m-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src={bookLover} class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5">
            <h2>My main philosohpy</h2>
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Similique deleniti possimus magnam corporis ratione facere!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <a href="#" class="btn btn-warning mt-3">
              <i class="bi bi-chevron-right"></i> link to the first blog post that
              explains our method
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white">Testimonials</h2>
        <p class="lead text-center text-white mb-5">
          What my past students think of my approach
        </p>
        <div class="row g-4">
          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/10.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">John Doe</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/10.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Jane Doe</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/14.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Janett Doe</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-5">
      <div class="container">
        <div class="row g-4 justify-content-between">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item border-4 border-dark">
                <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
              </li>
              <li class="list-group-item border-4 border-dark">
                <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
              </li>
              <li class="list-group-item border-4 border-dark">
                <span class="fw-bold">Student Phone:</span> (333) 333-3333
              </li>
              <li class="list-group-item border-4 border-dark">
                <span class="fw-bold">Enrollment Email:</span> (555) enroll@frontendbc.test
              </li>
              <li class="list-group-item border-4 border-dark">
                <span class="fw-bold">Student Email:</span>
                student@frontendbc.test
              </li>
            </ul>
          </div>
          <div class="col-md ms-custom-size">
            <div>
              <img class="bottom-logo-resizer" src={mainLogo} alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
