---
import "../../../assets/styles/main.css";
import favicon from "../../../assets/js_favicon.svg";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
import BlogListPers from "../../../components/BlogListPers.astro";
export function getStaticPaths() {
  return [{ params: { author: "amirali" } }, { params: { author: "sareh" } }];
}

const { author } = Astro.params;
---

<!-- BlogList page -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Joyful Speaking</title>
</head>
<body>
  <Navbar isHome={false} />
  <div class="container max-width-1000" style="min-height: 100vh;">
    <h1 class="text-center mt-5 fw-light">
      بلاگ های
      <span class="fst-italic fw-normal">
        {author === "amirali" ? " امیرعلی تقی شاه" : "ساره رنجبر"}
      </span>
    </h1>
    <div class="d-flex flex-column py-5 px-3">
      <label class="fw-semibold text-end fs-3 mb-3" for="search">جستجو</label>
      <input class="p-2" type="search" id="search" />
    </div>
    <BlogListPers authorName={author} />
  </div>
  <Footer />
</body>
<script>
  let blogPosts = [];

  const searchInput = document.querySelector("#search");

  searchInput.addEventListener("input", (e) => {
    const value = e.target.value;
    blogPosts.forEach((post) => {
      const isVisible =
        post.title.includes(value) ||
        post.series.includes(value) ||
        post.level.includes(value);
      post.element.classList.toggle("hidden", !isVisible);
    });
  });

  const blogPostAll = document.querySelectorAll("[data-post]");

  blogPostAll.forEach((e) => {
    const blogPostElement = e;
    const blogPostTitle = e.children[0].innerText;
    const blogPostSeries = e.children[2].innerText;
    const blogPostLevel = e.children[5].innerText.slice(7);
    blogPosts.push({
      element: blogPostElement,
      title: blogPostTitle,
      series: blogPostSeries,
      level: blogPostLevel,
    });
  });
</script>
