---
import MainLayout from "./MainLayout.astro"
import "../../../styles/lesson.scss"
const { title, date } = Astro.props
---

<MainLayout title={title}>
  <div class="container py-5">
    <article class="markdown-content blog-content mx-auto col-lg-8">
      <slot />
    </article>
  </div>
</MainLayout>

<style>
  .blog-content {
    font-size: 1rem;
    line-height: 1.75;
    color: #212529;
  }

  .blog-content h1 {
    color: red !important;
  }
</style>
