---
import footerLogo from "../../assets/footer-logo-final.svg"
---

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 mb-4 mb-lg-0 footer-rows-container-width-50"
      >
        <h5>Joyful Speaking</h5>
        <p class="text-light">
          Helping you find clarity and confidence in your language
        </p>
        <div>
          <a href="./"><img src={footerLogo.src} alt="" /></a>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 mb-4 mb-lg-0 footer-rows-container-width-50"
      >
        <h5>Navigate</h5>
        <ul class="list-unstyled">
          <li><a href="/writing">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/#questions">FAQ</a></li>
          <li><a href="https://t.me/Amiralixd">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 center-with-flex-footer-icons">
        <h5 class="hide-contact-text-footer">Connect</h5>
        <a href="https://x.com/AmiraliT313" class="social-icon"
          ><i class="fab fa-twitter"></i></a
        >
        <a href="https://www.instagram.com/amirali_tsh/" class="social-icon"
          ><i class="fab fa-instagram"></i></a
        >
        <a
          href="https://www.linkedin.com/in/amirali-taqishah-27920a262/"
          class="social-icon"><i class="fab fa-linkedin-in"></i></a
        >
        <a href="mailto:amirali.tsh13@gmail.com" class="social-icon"
          ><i class="fas fa-envelope"></i></a
        >
      </div>
    </div>

    <div class="footer-bottom-bar text-center">
      <p>&copy; 2025 Joyful Speaking. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
