---
import "../../assets/styles/main.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../assets/js_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Joyful Speaking Hub</title>
  </head>
  <body>
    <Navbar />
    <div>
      <h1 class="text-center py-5">
        Joyful Speaking (we could use our logo somewhere on this page)
      </h1>
      <p class="text-center fs-3">The Hub Area</p>
    </div>
    <section class="p-5 my-5" style="min-height: 50vh;">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">From zero to hero</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-lightDark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">DIY IELTS techniques</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">How to train your dragonling</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</html>

<!-- current step: create the showcase page for the various types of blog posts that are available -->
<!-- create the card pictures on figma -->
