---
import '../../assets/styles/main.css'
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../assets/js_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Joyful Speaking Hub</title>
	</head>
	<body>
        <Navbar/>
		<div>
		 <h1 class="text-center py-3 bg-primary text-light">Joyful Speaking</h1>
		 <p class="text-center fs-3">This is the homepage</p>
	    </div>
	</body>
</html>
 