---
const allPostContent = await Astro.glob("../content/amirali-posts/*.md");
---

<main>
    <h1>This is where you'll see the blog years:</h1>
    {
        allPostContent.map((post) => (
            <p class="year"> {post.frontmatter.year} </p>
        ))
    }
</main>
