---
import logoBlack from "../assets/logo_black.png";
---

<footer class="p-5 bg-lightDark text-white text-center position-relative mt-5">
  <div class="container">
    <div class="position-absolute footer-logo-position make-invisible">
      <img src={logoBlack} alt="" />
    </div>
    <p class="lead me-2">&copy; 2024 Joyful Speaking. All rights reserved.</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
      <i style="color: white;" class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
</footer>
