---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const { isHome } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav
  class="navbar navbar-expand-lg bg-primary navbar-dark py-3 fixed-top add-border-bottom"
>
  <div class="container">
    <a href={`/${lang}`} class="navbar-brand nav-item-on-hover fs-3"
      >Joyful Speaking</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul
        class={lang === "pers"
          ? "navbar-nav navbar-nav-pers ms-auto"
          : "navbar-nav ms-auto"}
      >
        <li class="nav-item">
          <a class="nav-link nav-item-on-hover text-white fs-5"> English</a>
          <li class="nav-item">
            <a
              href={isHome ? "#learn" : "../#learn"}
              class="nav-link nav-item-on-hover text-white fs-5"
            >
              {t("nav.learn")}</a
            >
          </li>
          <li class="nav-item">
            <a
              href={isHome ? "#questions" : "../#questions"}
              class="nav-link nav-item-on-hover text-white fs-5"
              >{t("nav.questions")}</a
            >
          </li>
          <li class="nav-item">
            <a
              href={`/${lang}/blogs/authors`}
              class="nav-link nav-item-on-hover text-white fs-5"
              >{t("nav.blogs")}</a
            >
          </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
