---
import "../../assets/styles/main.css";
import favicon from "../../assets/js_favicon.svg";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import BlogPost from "../../components/BlogLayout.astro";
export function getStaticPaths() {
  return [
    { params: { author: "amirali" }, props: { surname: "taqishah" } },
    { params: { author: "sareh" }, props: { surname: "ranjbar" } },
    { params: { author: "soheila" }, props: { surname: "asheqi" } },
  ];
}

const { author } = Astro.params;
const { surname } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Joyful Speaking Hub</title>
</head>
<body>
  <Navbar />
  <div class="container text-center" style="min-height: 100vh;">
    <h1 class="mt-5 fw-light">
      Blog posts by
      <span class="fst-italic fw-normal">
        {author[0].toUpperCase() + author.slice(1)}
        {surname[0].toUpperCase() + surname.slice(1)}
      </span>
    </h1>
    <div class="py-5">
      <h1>(This is where the searchbar and the search tags will be)</h1>
    </div>
    <BlogPost authorName={author} />
  </div>
  <Footer />
</body>
<!-- 
  current step:
  - Figure out how the searchbars work in javascript
  - Implement your own searchbar system with search tags
  - How can I retrieve the blog posts of an instructor properly and make them appear in an orderly manner? 
  answer: all of that happens within with ordinary css styling

-->
