@font-face {
  font-family: "My Vazir";
  src: url(../fonts/Vazir-Thin.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "My Vazir";
  src: url(../fonts/Vazir-Light.ttf);
  font-weight: 300;

}

@font-face {
  font-family: "My Vazir";
  src: url(../fonts/Vazir.ttf);
  font-weight: 400;

}

@font-face {
  font-family: "My Vazir";
  src: url(../fonts/Vazir-Medium.ttf);
  font-weight: 500;

}

@font-face {
  font-family: "My Vazir";
  src: url(../fonts/Vazir-Bold.ttf);
  font-weight: bold;

}


* {
  font-family: "My Vazir";
}