<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<!-- 

steps:
 -  (next step) Revisit Astro basics (https://docs.astro.build/en/concepts/why-astro/#easy-to-use)
 - Import the previous content from the older version of the site as you are building the new one
 - (current step) BREAK THROUGH: do think of this website as a magazine, and each blog entry is just a new edition of the magazine. Therefore, try to give the blog the best magazine-like aesthetic that you can based on the current structure of the homepage and what's already there
-->
